@import 'reset';
@import 'variables/global';
@import 'themes/light';

.app {
  font: var(--font-m);
  color: var(--primary-color);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  background-color: var(--bg-color);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.active {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.btn-contained {
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 10px 20px;
  width: 200px;
  font-weight: 500;
  color: var(--second-color);
  background-color: var(--dark-bg-color);
  transition: border-color, color, 0.25s;
  cursor: pointer;

  &:hover {
    color: var(--second-color);
    border-color: var(--second-color);
  }
  &:active {
    color: var(--primary-color);
  }
}
