@import 'reset';
@import 'variables/global';
@import 'themes/light';
@import 'themes/dark';

.app {
  align-items: center;
  background-color: var(--bg-main-color);
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  font: var(--font-m);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  gap: 20px;
  height: 100vh;
  justify-content: space-between;
  text-rendering: optimizeLegibility;
  width: 100%;
}

.active {
  border-color: var(--main-color);
  color: var(--main-color);
}
