.dialog {
  margin: auto;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
  }
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.664);
}
