.dialog {
  margin: auto;

  &__container {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
  }
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.664);
}
