.dark {
  --main-color: #fff;
  --second-color: #7d83ff;

  --bg-main-color: #000;
  --bg-second-color: #fff;

  --purple: #5a62fa;
  --purple-light: #7d83ff;
  --purple-extra-light: #cdcffa71;

  --btn-font-color: #fff;
}
