.block {
  align-items: center;
  background-color: var(--midnight-bg-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;

  &__title {
    font: var(--font-exl);
    padding: 15px;
  }
}
